.error {
    padding: 10px;
    color: crimson;
    border: 1px dotted crimson;
}

.success{
    padding: 10px;
    color: green;
    border: 2px dotted limegreen;
}

li{
    list-style-type: none;
    max-width: 200px;
    padding: 8px;
    margin: 8px auto;
    border: 1px dotted #999;
    background-color: #eee;
}
